<div class="modal" tabindex="-1" id="add-poll-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Nova enquete</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{% csrf_token %}

				<div class="d-flex flex-row mb-5">
					<label class="me-2">Pergunta:</label>
					<input type="text" id="new_question">
				</div>
                
                <div class="d-flex flex-row mb-5">
					<label class="me-2">Categoria:</label>
					<select id="question_category">
					    {% for i in categories %}
					        <option value="{{ i.id }}">{{ i.name }}</option>
					    {% endfor %}
					</select>
				</div>
                
				<div class="d-flex flex-row mb-1">
					<label class="me-2">Opção 1:</label>
					<input type="text" id="new_question_op1">
				</div>
				<div class="d-flex flex-row mb-1">
					<label class="me-2">Opção 2:</label>
					<input type="text" id="new_question_op2">
				</div>
				<div class="d-flex flex-row mb-1">
					<label class="me-2">Opção 3:</label>
					<input type="text" id="new_question_op3">
				</div>
				<div class="d-flex flex-row mb-1">
					<label class="me-2">Opção 4:</label>
					<input type="text" id="new_question_op4">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
				<button type="button" class="btn btn-primary" onclick="save_poll()">Salvar</button>
			</div>
		</div>
	</div>
</div>