{% load static %}
{% load filters %}

<html>
	<head>
		<title>Vote</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/17c066a4d1.js" crossorigin="anonymous"></script>

		<link href="{% static 'styles/fonts.css' %}" rel="stylesheet">
        <link href="{% static 'styles/buttons.css' %}" rel="stylesheet">
		<link href="{% static 'styles/polls.css' %}" rel="stylesheet">
		<script src="{% static 'js/polls.js' %}"></script>
		<script src="{% static 'js/friendrequest.js' %}"></script>
	</head>
	<body>
		<div class="sidebar">
			<a href="logout" class="logout"><i class="fas fa-sign-out-alt"></i></a>
			<div class="mainInfo">
				<label>{{ user.username }}</label>
				{% if user.photo is None %}
        			{% if user.gender == 'Masculino' %}
        				<img src="{% static 'imgs/defaultMaleIcon.png' %}">
        			{% elif user.gender == 'Feminino' %}
        				<img src="{% static 'imgs/defaultFemaleIcon.png' %}">
        			{% endif %}
        		{% else %}
        		    <img src="data:image;base64,{{ user.photo|binary_to_b64 }}">
        		{% endif %}
			</div>
			<div class="userOptions">
				<div class="userOption">
					<a href="profiles/{{ user.username }}">Perfil</a>
				</div>
				<div class="userOption">
					<a data-bs-toggle="modal" data-bs-target="#addPollModal">Criar enquete</a>
				</div>
				<div class="userOption">
                    <a data-bs-toggle="modal" data-bs-target="#friendRequestsModal">Amigos</a>
				</div>
				<div class="userOption">
					Configurações
				</div>
				<div class="userOption">
					Sobre
				</div>
			</div>
		</div>
		<div class="pollsContent">
		    <div class="categoriesContainer">
		        {{ categories }}
		        
		        <button onclick="reload_all_polls(null)" class="ligthButton">Resetar</button>
		    </div>
		    <div class="pollsContainer">
			    {{ polls }}
		    </div>
	    </div>
	</body>
	
    {{ add_poll_modal }}
    {{ friend_requests_modal }}
</html>