{% load static %}
{% load filters %}

{% if someone_is_logged %}
    {% if is_friend is not None %}
        {% if is_friend %}
            <button id="friendRequestButton" onclick="send_friendrequest({{ user.id }})"><i class="fas fa-users"></i></button>
        {% else %}
            <button id="friendRequestButton" onclick="send_friendrequest({{ user.id }})"><i class="fas fa-user-clock"></i></button>
        {% endif %}
    {% else %}
        <button id="friendRequestButton" onclick="send_friendrequest({{ user.id }})"><i class="fas fa-paper-plane"></i></button>
    {% endif %}
{% endif %}

{% if user.photo is None %}
	{% if user.gender == 'Masculino' %}
		<img src="{% static 'imgs/defaultMaleIcon.png' %}">
	{% elif user.gender == 'Feminino' %}
		<img src="{% static 'imgs/defaultFemaleIcon.png' %}">
	{% endif %}
{% else %}
    <img src="data:image;base64,{{ user.photo|binary_to_b64 }}">
{% endif %}

<div class="d-flex flex-column">
    <label>{{ user.username }}</label>
    <label>Sexo {{ user.gender }}</label>
</div>