{% load static %}
{% load filters %}

{% if someone_is_logged %}
    {% if pendent_friend_request %}
        <div id="pendent-friend-request">
            <p>Você possui uma requisição de amizade pendente de {{ pendent_friend_request.sender.username }}
            </p>
            <div class="d-flex flex-row gap-1">
                <button class="accept-button" onclick="accept_friendrequest(this.parentNode.parentNode, {{ pendent_friend_request.id }}, true)"><i class="fas fa-check-circle"></i></button>
                <button class="reject-button" onclick="accept_friendrequest(this.parentNode.parentNode, {{ pendent_friend_request.id }}, false)"><i class="fas fa-ban"></i></button>
            </div>
        </div>
    {% else %}
        {% if is_friend is not None %}
            {% if is_friend %}
                <button id="friend-request-button" onclick="send_friendrequest({{ user.id }})"><i class="fas fa-users"></i></button>
            {% else %}
                <button id="friend-request-button" onclick="send_friendrequest({{ user.id }})"><i class="fas fa-user-clock"></i></button>
            {% endif %}
        {% else %}
            <button id="friend-request-button" onclick="send_friendrequest({{ user.id }})"><i class="fas fa-paper-plane"></i></button>
        {% endif %}
    {% endif %}
{% endif %}

<img src="{{ user|get_profile_photo_src }}">

<div class="d-flex flex-column">
    <label>{{ user.username }}</label>
    <label>Sexo {{ user.get_gender_display }}</label>
</div>