{% load filters %}

{% for i in questions %}
	<div class="poll-card" id="poll-{{ i.id }}">

        <p class="poll-card-question">{{ i.question_text }}</p>

		{% csrf_token %}

		<div class="poll-card-options">
		{% for op_num in 1|range_list:5 %}
			{% with op_num_offset=op_num|add:'-1' %}
				<div class="poll-card-option" onclick="sendVote({{ i.id }}, {{ op_num }})" id="op{{ op_num }}">
					<div class="poll-card-option-info">
						<div class="poll-option-text">
							{% if op_num == choices|dict_item:i.id|list_item:-1 %}
								<input type="radio" checked="true"/>
							{% else %}
								<input type="radio"/>
							{% endif %}
							<label class="poll-option-name">Option</label>
						</div>

						<label class="poll-option-percentage">{{ choices|dict_item:i.id|list_item:op_num_offset }}%</label>
					</div>
					<div class="poll-option-fill-background">
						{% if op_num == choices|dict_item:i.id|list_item:-1 %}
							<div class="poll-option-fill selected" style="width: {{ choices|dict_item:i.id|list_item:op_num_offset }}%"></div>
						{% else %}
							<div class="poll-option-fill" style="width: {{ choices|dict_item:i.id|list_item:op_num_offset }}%"></div>
						{% endif %}
					</div>
				</div>
			{% endwith %}
		{% endfor %}
		</div>

		<a class="poll-card-author" href="profiles/{{ i.author.username }}">{{ i.author.username }}</a>
    </div>
{% endfor %}