{% load static %}

<html>
    <head>
        <title>Meu perfil</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/17c066a4d1.js" crossorigin="anonymous"></script>
		
        <link href="{% static 'styles/fonts.css' %}" rel="stylesheet">
		<link href="{% static 'styles/profile.css' %}" rel="stylesheet">
    </head>
    <body>
        {% if user.gender == 'Masculino' %}
			<img src="{% static 'imgs/defaultMaleIcon.png' %}">
		{% elif user.gender == 'Feminino' %}
			<img src="{% static 'imgs/defaultFemaleIcon.png' %}">
		{% endif %}
		
		<form method="POST" action="auth/profile/update" class="d-flex flex-column">
		    {% csrf_token %}
    		<input type="file" name="photo" class="form-control invisible">
            <input type="text" name="username" value="{{ user.username }}" class="form-control">
            <input type="password" name="password" value="{{ user.password }}" class="form-control">
        
            <button type="submit" class="btn btn-outline-secondary">Salvar</button>
        </form>
    </body>
</html>