{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>Cadastro</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		<link href="{% static 'styles/fonts.css' %}" rel="stylesheet">
		<link href="{% static 'styles/buttons.css' %}" rel="stylesheet">
		<link href="{% static 'styles/auth.css' %}" rel="stylesheet">
	</head>
	<body>
		<div class="main-container">
			<h1 class="mb-5">Cadastro</h1>

			<form action="register/check" class="d-flex flex-column" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				
				<input type="file" class="form-control mb-5" name="photo">
				
				<input type="text" placeholder="Nome de usuário" class="form-control mb-2" name="username">
				<select name="gender" class="form-control mb-2">
					<option value="true">Masculino</option>
					<option value="false">Feminino</option>
					<option value="null">Outro</option>
				</select>
				<input type="password" placeholder="Senha" class="form-control mb-3" name="password">

				<button type="submit" class="light-button align-self-end">Success</button>
			</form>
		</div>
	</body>
</html>