{% load static %}

<html>
    <head>
        <title>404</title>
		<script src="https://kit.fontawesome.com/17c066a4d1.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link href="{% static 'style/404.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="main-container">
            <img src="{% static 'imgs/404_icon.png' %}">
            <h1>Recurso não encontrado</h1>
            <p>O caminho especificado não pode ser encontrado. Cheque se o mesmo está correto ou não apresenta erros de digitação e tente novamente.</p>
            <a href="{% url 'index' %}">Voltar ao início</a>
        </div>
    </body>
</html>