body {
	background: url("../imgs/authBackground.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mainContainer {
	background-color: white;
	width: 40%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	justify-items: center;
	text-align: center;
}

.mainContainer label {
	font-family: BehindTS;
	font-size: 70px;
}

.mainContainer form input {
	box-shadow: 10px 5px 5px #a6a6a6;
}

.mainContainer form .error {
	color: #FF0000;
}

.mainContainer .create-account {
    align-self: flex-end;
}