body {
	background: url("../imgs/auth_background.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-container {
	background-color: white;
	border: 1px solid black;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	
	padding: 15% 15% 15% 15%;
}

.main-container h1 {
	font-family: BehindTS;
	color: black;
}

.main-container form {
    width: 60vw;
}

.main-container form input {
	width: 100%;
}

.main-container form .error {
	color: #FF0000;
}

.main-container .create-account {
    align-self: flex-end;
}