body {
	display: flex;
	flex-direction: row;
	background: url("../imgs/home_background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    min-height: 100vh;
}

.option-info {
    display: flex;
    flex-direction: row;
}

.bar-representation {
	position: relative;
	z-index: 0;
	cursor: pointer;
	width: 80%;
}

.bar-representation .vote-quantifier {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #99b3ff;
	z-index: -1;
	height: 100%;
	width: 0%;
	border-color: white;
}

.bar-representation .vote-quantifier.user-choice {
	background-color: #cc99ff;
}

.bar-representation .votes-percentage {
    width: 20%;
}

.side-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	height: 100vh;
	width: 40%;
	
	padding-bottom: 10px;
}

.side-bar .logout {
	color: white;
	align-self: flex-start;
	font-size: 20px;
	cursor: pointer;
}

.side-bar .main-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	
	width: 80%;
	height: 30%;
}

.side-bar .main-info label {
	color: white;
	font-family: BehindTS;
	font-size: 5vh;
}

.side-bar .main-info img {
	width: 80%;
	height: 60%;
	border-radius: 50%;
}

.side-bar .user-options {
	background-color: white;
	width: 90%;
	height: 50%;
}

.side-bar .user-options .user-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
	width: 100%;
	height: 20%;
	font-size: 100%;
	border: 2mm ridge rgb(115, 115, 115);
	cursor: pointer;
}

.side-bar .user-options .user-option:hover {
	color: blueviolet;
}

.side-bar .user-options .user-option a {
	text-decoration: none;
	color: black;
}

.polls-content {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    width: 70%;
    height: 100vh;
}

.categories-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: white;
    border-radius: 7%;
    padding: 10px 10px 10px 10px;
    
    -webkit-box-shadow: 5px 5px 15px 5px #5F5F5F; 
    box-shadow: 5px 5px 15px 5px #5F5F5F;
}

.categories-container #categories-table {
    display: grid;
    width: 100%;
    
    margin-bottom: 100px;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: min-content;
}

.categories-container button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.polls-container {
	width: 100%;
	height: 100%;
	padding: 10px;
	overflow-y: scroll;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: min-content;
}

.category-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #0099cc;
    border-radius: 5%;
    background-color: white;
}

.friend-request {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

.friend-request .friend-request-options {
    display: flex;
    flex-direction: row;
}