body {
	background-color: #b3ffff;
}

.pollOption {
	position: relative;
	z-index: 0;
	cursor: pointer;
}

.pollOption .voteQuantifier {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #99b3ff;
	z-index: -1;
	height: 100%;
}