body {
	display: flex;
	flex-direction: row;
	background: url("../imgs/mainBackground.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.optionInfo {
    display: flex;
    flex-direction: row;
}

.bar-representation {
	position: relative;
	z-index: 0;
	cursor: pointer;
	width: 80%;
}

.bar-representation .voteQuantifier {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #99b3ff;
	z-index: -1;
	height: 100%;
	width: 0%;
	border-color: white;
}

.sideBar {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	height: 100%;
	width: 30%;
}

.sideBar .logout {
	color: white;
	align-self: flex-start;
	font-size: 20px;
	cursor: pointer;
}

.sideBar .mainInfo {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.sideBar .mainInfo label {
	color: white;
	font-family: BehindTS;
	font-size: 50;
	margin-bottom: 20px;
}

.sideBar .mainInfo img {
	width: 200;
	height: 200;
	border-radius: 50%;
}

.sideBar .userOptions {
	background-color: white;
	width: 50%;

	margin-top: 30px;
}

.sideBar .userOptions .userOption {
	width: 100%;
	padding: 10px;
	border: 2mm ridge rgb(115, 115, 115);
	cursor: pointer;
}

.sideBar .userOptions .userOption:hover {
	color: blueviolet;
}

.pollsContent {
    width: 70%;
    height: 100%;
}

.categoriesContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    background-color: white;
    border-radius: 7%;
    padding: 10px 10px 10px 10px;
}

.categoriesContainer table {
    width: 100%;
}

.categoriesContainer button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.pollsContainer {
	width: 100%;
	height: 80%;
	padding: 10px;
	overflow-y: scroll;

	display: grid;
	grid-template-columns: 20fr 20fr 20fr;
	grid-auto-rows: min-content;
}

.categoryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    border-radius: 5%;
    background-color: white;
}

.friend-request {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

.friend-request .friend-request-options {
    display: flex;
    flex-direction: row;
}