button, a {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url("../imgs/profile_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100dvh;

    font-family: "Montserrat";
}

.main-container {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);

	width: 40%;
	
	padding: 3rem 0rem;

    border-radius: 2rem;
}

.main-container #friend-request-button {
    position: absolute;
    top: 0;
    left: 0;
    
    border-radius: 50%;
}

.main-container #pendent-friend-request {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 5px 5px 5px;
    background-color: rgba(153, 255, 153, 0.7);
    border-bottom: 2px solid #00e600;
    
    font-size: 60%;
}

.main-container img {
    width: auto;
    height: 10rem;
    margin-bottom: 3rem;

    cursor: pointer;
}

#user-info {
    margin-bottom: 3rem;
}

#user-statistics {
    display: flex;
    justify-content: space-between;

    width: 70%;

    margin-top: 2rem;
}

#user-statistics .statistic-data {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;

    font-size: 2rem;
}

#user-statistics .statistic-data .data-title {
    font-size: medium;
    font-weight: bolder;
}

#user-statistics .statistic-data .data-content {
    font-size: larger;
    color: rgba(100, 100, 100);
}