body {
    display: flex;
    flex-direction: column;
    background-color: #33bbff;
}

.main-container {
	background-color: white;
	width: 60%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	padding: 6% 6% 6% 6%;
}

.main-container #friend-request-button {
    position: absolute;
    top: 0;
    left: 0;
    
    border-radius: 50%;
}

.main-container #pendent-friend-request {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 5px 5px 5px;
    background-color: rgba(153, 255, 153, 0.7);
    border-bottom: 2px solid #00e600;
    
    font-size: 60%;
}

.main-container img {
    width: 70%;
    height: 30%;
    margin-bottom: 20px;
}

#user-info {
    margin-bottom: 20px;
}